<div class="top-menu">    

   <!--  <a mat-button [matMenuTriggerFor]="currencyMenu" #currencyMenuTrigger="matMenuTrigger">
        {{currency}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
        <span (mouseleave)="currencyMenuTrigger.closeMenu()">
            <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
                <span>{{cur}}</span>
            </button>
        </span>
    </mat-menu> -->

    <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
        <img [src]="flag.image" width="18">
        <span fxShow="false" fxShow.gt-sm class="flag-menu-title">{{flag.name}}</span>
        <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
        <span (mouseleave)="langMenuTrigger.closeMenu()">
            <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
                <img [src]="flag.image" width="18"> {{flag.name}}
            </button>
        </span>
    </mat-menu>

    <!-- <span fxShow="false" fxShow.gt-sm>
        <a mat-button routerLink="/compare">Compare  ({{appService.Data.compareList.length}})</a>
        <a mat-button routerLink="/wishlist">Wishlist ({{appService.Data.wishList.length}})</a>
    </span>  --> 

    <a mat-button [matMenuTriggerFor]="accountMenu" #accountMenuTrigger="matMenuTrigger">
        <mat-icon class="mat-icon-sm account-icon">person</mat-icon> <span fxShow="false" fxShow.gt-sm>Espace utlisateur</span> <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown account">   
        <div fxLayout="row" fxLayoutAlign="center center">
            <div>
                &nbsp;
            </div>
            <div>
                <form class="example-form" (click)="$event.stopPropagation();">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="0px">
                            <div>
                                <mat-icon>person</mat-icon>
                            </div>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="Username" (click)="$event.stopPropagation();">
                                </mat-form-field>
                            </div>
                            
                        </div>
                        <div fxLayout="row">
                            <div>
                                <mat-icon>lock</mat-icon>
                            </div>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="Mot de passe" (click)="$event.stopPropagation();">
                                </mat-form-field>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                </form>
                <div class="divider"></div>
                <a mat-menu-item routerLink="/sign-in">
                    <span>Inscription</span>
                </a>
            </div>
        </div>     
    </mat-menu>    

</div>  