.filter-sidenav{
    width: 280px;
    padding: 2px;
    //background: transparent !important;
    .mat-expansion-panel-header-title {
        text-transform: uppercase;
    }
}
.filter-row{
    background: #fff;
    padding: 8px 12px;
}
.all-products{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.products-wrapper{
    margin: 8px -8px;
    .col{
        padding: 8px;
    }
}

.categories-wrapper{
    position: relative;
    max-height: 300px;
}

.filter-buttons{
    button{
        min-width: 36px;
        margin: 0 6px 10px 0;
        padding: 0;
    }
}

.filter-price{
    .mat-slider-horizontal{
        min-width: 110px;
    }
}

.filter-brands{
    button{
        width: 66px;
        height: 44px;
        min-width: 66px;
        margin: 0 6px 10px 0;
        padding: 0px;
        overflow: hidden;
        img{
            width: 66px;
            height: 44px;
        }
    }
}

.example-card {
    max-width: 220px;
}

.example-header-image {
    background-image: url('../../../assets/images/Home/twitter-icon.png');
    background-size: cover ;
}
.ap-articles {
    font-size: 10px;
    text-transform: lowercase;
}
.imgProdOrSer {
    background-image: url('../../../assets/images/Produit/FineTech_PS_Elmt_Produit_Photo_Bg.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

.descriptif-prod {
    font-size: 10px;
    text-justify: auto;
    line-height: normal;
}
.add-panier{
    color: #fff;
}
.add-panier-btn {
    background-color:black !important;
}
.prodServBackground{
    border-radius: 10px 27px 27px 0px;
    -moz-border-radius: 10px 27px 27px 0px;
    -webkit-border-radius: 2px 1px 2px 0px;
    border: 1px solid #0000005c;
}
.footer-price{
    background-image: url('../../../assets/images/Produit/FineTech_PS_Elmt_Produit_Price_Bg.png') !important;
    background-repeat: no-repeat;
    background-size: 117px;
    padding: 5%;
    width: 150%;
}
.img-seller {
    bottom: 0;
    position: relative;
    top: 50%;
}
.prodOrServ-content{
    padding-left: 2%;
}
.title-enchere{
    color:red;
    font-size: 12px;
    font-weight: bold;
    background-image: url('../../../assets/images/Enchere/FineTech_PS_Elmt_Enchere_Bg_Rpt.png') !important;
}
.chrono-enchere{
    background-image: url('../../../assets/images/Enchere/FineTech_PS_Elmt_Enchere_Timer_Bg.png');
    background-repeat: no-repeat;
    background-size: 126px;
    background-position: bottom;
}
.chrono-content{
    color: white;
    text-align: center;
    font-size: 12px;
}
.enchere-btn{
    width: 100%;
    background-color: black !important;
}
.enchere-btn-success {
    width: 100%;
    background-color:green !important;
}
.bottom-text-enchere{
    color: white;
}
