<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>
        
        <mat-accordion displayMode="flat" multi="true">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Filtres</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <mat-checkbox color="primary">Domaines</mat-checkbox>
                    <mat-checkbox color="primary">Activités</mat-checkbox>
                    <mat-checkbox color="primary">Boutiques</mat-checkbox>
                    <mat-checkbox color="primary">Localités</mat-checkbox>
                    <mat-checkbox color="primary">Références produit</mat-checkbox>
                    <mat-checkbox color="primary">Prix</mat-checkbox>
                    <mat-checkbox color="primary">Disponibilités</mat-checkbox>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Catégories</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <a fxLayoutAlign="left" mat-button routerLink=".">Technologie</a>
                    <a fxLayoutAlign="left" mat-button routerLink=".">Business</a>
                    <a fxLayoutAlign="left" mat-button routerLink=".">WEB</a>
                    <a fxLayoutAlign="left" mat-button routerLink=".">E-COMMERCE</a>
                    <a fxLayoutAlign="left" mat-button routerLink=".">WORDPRESS</a>
                    <a fxLayoutAlign="left" mat-button routerLink=".">IOS</a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end" #sidenav2 perfectScrollbar>
        <mat-accordion displayMode="flat" multi="true" class="tweets" >
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Tweets</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style=" padding-bottom: 0; margin-bottom: 0;">
                            <p fxLayoutAlign="left">
                                The Shiba Inu is the smallest of the six original.
                            </p>
                            <br>
                        </mat-card-content>
                        <mat-card-actions style=" padding-top: 0;">
                            <button mat-button>show summury</button>
                        </mat-card-actions>
                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style=" padding-bottom: 0; margin-bottom: 0;">
                            <p>
                                The Shiba Inu is the smallest of the six original.
                            </p>
                        </mat-card-content>
                        <mat-card-actions style=" padding-top: 0;">
                            <button mat-button>show summury</button>
                        </mat-card-actions>
                    </mat-card>
                    
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion displayMode="flat" multi="true">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img src="../../../assets/images/Home/bot-icon.png" style=" width: 48px; height: 43px; "><h4>ChatBot</h4>
                        <a fxLayoutAlign="left" mat-button routerLink="."></a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <mat-card class="example-card">
                        <mat-card-content style=" padding-bottom: 0; margin-bottom: 0;">
                            <p fxLayoutAlign="left" style="background: #67606061;border-radius: 25px;padding: 5%;">
                                Bonjour en quoi puis je vous etre utile aujourd'hui ?
                            </p>
                            <br>
                            <p fxLayoutAlign="right" style="background: rgba(236, 88, 88, 0.64);border-radius: 25px;padding: 5%;margin-left: 13%;">
                                The Shiba Inu is the smallest of the six original.
                            </p>
                            <p fxLayoutAlign="left" style="margin-top: 12%; background: #67606061;border-radius: 25px;padding: 5%;">
                                ok bla blaa ?
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <section class="all-products" ngClass.gt-sm="p-left">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
            <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <h4>Article les plus recherchés: </h4>
            <mat-chip-list>
                <mat-chip>Domaine 14</mat-chip>
                <mat-chip>Activité 15</mat-chip>
                <mat-chip color="primary" selected>Produit 45</mat-chip>
                <mat-chip color="accent" selected>Localité</mat-chip>
            </mat-chip-list>
        </div>
        
        <div fxLayout="column" fxLayoutGap="20px" class="py-2">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Produits & services</h4>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row">
                        <div fxLayout="row" fxLayoutGap="1px" class="prodServBackground">
                            <div class="imgProdOrSer">
                                <div fxLayout="row" fxLayoutAlign="start">
                                    <div fxLayout="column" fxLayoutGap="95px">
                                        <div>&nbsp;&nbsp;</div>
                                        <div class="footer-price">
                                            <span style="font-size: 15px; font-weight: bold;">75 000</span>
                                            <span style="font-size:12px"> XOF</span>
                                            <div style="font-size: 12px; font-weight: bold; color:rgb(109, 184, 66)">Disponibilité</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="prodOrServ-content" fxLayout="column">
                                <div fxLayout="column" fxLayoutGap="5px">
                                    <div>
                                        <h2>Nom Produit</h2>
                                        <h6>quantité</h6>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="0px">
                                        <div>
                                            <h6>Description</h6>
                                            <p class="descriptif-prod">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quasi quaerat laboriosam.
                                            </p>
                                        </div>
                                        <div class="img-seller">
                                            <img src="../../../assets/images/Produit/FineTech_PS_Elmt_Produit_Seller_Bg.png" width="30px" alt="">
                                        </div>
                            
                                    </div>
                                </div>
                                <div>
                                   <a fxLayoutAlign="right" mat-button class="add-panier-btn" routerLink="."><span class="add-panier">Ajouter au panier +</span> </a>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1px"> 
                            <div fxLayout="row" fxLayoutGap="1px" class="prodServBackground">
                                <div class="imgProdOrSer">
                                    <div fxLayout="row" fxLayoutAlign="start">
                                        <div fxLayout="column" fxLayoutGap="95px">
                                            <div>&nbsp;&nbsp;</div>
                                            <div class="footer-price">
                                                <span style="font-size: 15px; font-weight: bold;">75 000</span>
                                                <span style="font-size:12px"> XOF</span>
                                                <div style="font-size: 12px; font-weight: bold; color:rgb(109, 184, 66)">Disponibilité</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prodOrServ-content" fxLayout="column">
                                    <div fxLayout="column" fxLayoutGap="5px">
                                        <div>
                                            <h2>Nom Produit</h2>
                                            <h6>quantité</h6>
                                        </div>
                                        <div fxLayout="row" fxLayoutGap="0px">
                                            <div>
                                                <h6>Description</h6>
                                                <p class="descriptif-prod">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quasi quaerat laboriosam.
                                                </p>
                                            </div>
                                            <div class="img-seller">
                                                <img src="../../../assets/images/Produit/FineTech_PS_Elmt_Produit_Seller_Bg.png" width="30px" alt="">
                                            </div>
                            
                                        </div>
                                    </div>
                                    <div>
                                        <a fxLayoutAlign="right" mat-button class="add-panier-btn" routerLink=".">
                                            <span class="add-panier">Ajouter au panier +</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Appels d'offres</h4>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card>
                        <div fxLayout="row" fxLayoutGap="30px">
                            <div>
                                <img mat-card-image src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Seller_Bg.png" style="width:48px">
                            </div>
                            <div>
                                <span style="font-size:16px; color:red"> (Appels d'offres N)</span>
                                <br>
                                <mat-divider></mat-divider>
                                <span style="font-size:16px; font-weight:bold">Objet</span>
                            </div>
                        </div>
                    
                        <mat-card-title>
                            <div fxLayout="row" fxLayoutGap="190px">
                                <div>
                                    <div>&nbsp;&nbsp;</div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="20px">
                                    <div fxLayout="column">
                                        <div>&nbsp;&nbsp;</div>
                                        <div style="font-size: 28px; font-weight:bold">28
                                            <span style="text-transform:lowercase; font-size: 10px;">Lots</span>
                                        </div>
                                    </div>
                                    <div fxLayout="column">
                                        <div style="font-size:13px">Date limite</div>
                                        <div style="color:red">09.09.2018</div>
                                    </div>
                                    <div fxLayout="column">
                                        <div style="font-size:13px">Budget</div>
                                        <div>75 000
                                            <span style="font-size:10px; height:2%">XOF</span>
                                        </div>
                                    </div>
                                    <div fxLayout="column">
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Rating_Gauge.png" width="34px" alt="">
                                    </div>
                                </div>
                            </div>
                    
                        </mat-card-title>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutGap="2px">
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Domaine 09</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_1.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Activité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_2.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Boutique 18</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_3.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Localité 85</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_4.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center"> Ref Produit 14</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_5.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Prix 12</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_6.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Disponibilité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_7.png" alt="" width="80px">
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer style="background-color:gray">
                            <div fxLayout="row" fxLayoutGap="320px">
                                <div>
                                    <a fxLayoutAlign="left" mat-button routerLink=".">Details de l'offre</a>
                                </div>
                                <div>
                                    <a fxLayoutAlign="right" mat-button routerLink=".">repondre à l'offre</a>
                                </div>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                    <br>
                    <mat-card>
                        <div fxLayout="row" fxLayoutGap="30px">
                            <div>
                                <img mat-card-image src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Seller_Bg.png" style="width:48px">
                            </div>
                            <div>
                                <span style="font-size:16px; color:red"> (Appels d'offres N)</span>
                                <br>
                                <mat-divider></mat-divider>
                                <span style="font-size:16px; font-weight:bold">Objet</span>
                            </div>
                        </div>
                    
                        <mat-card-title>
                            <div fxLayout="row" fxLayoutGap="190px">
                                <div>
                                    <div>&nbsp;&nbsp;</div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="20px">
                                    <div fxLayout="column">
                                        <div>&nbsp;&nbsp;</div>
                                        <div style="font-size: 28px; font-weight:bold">28
                                            <span style="text-transform:lowercase; font-size: 10px;">Lots</span>
                                        </div>
                                    </div>
                                    <div fxLayout="column">
                                        <div style="font-size:13px">Date limite</div>
                                        <div style="color:red">09.09.2018</div>
                                    </div>
                                    <div fxLayout="column">
                                        <div style="font-size:13px">Budget</div>
                                        <div>75 000
                                            <span style="font-size:10px; height:2%">XOF</span>
                                        </div>
                                    </div>
                                    <div fxLayout="column">
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Rating_Gauge.png" width="34px" alt="">
                                    </div>
                                </div>
                            </div>
                    
                        </mat-card-title>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutGap="2px">
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Domaine 09</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_1.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Activité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_2.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Boutique 18</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_3.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Localité 85</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_4.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center"> Ref Produit 14</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_5.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Prix 12</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_6.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Disponibilité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_7.png" alt="" width="80px">
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer style="background-color:gray">
                            <div fxLayout="row" fxLayoutGap="320px">
                                <div>
                                    <a fxLayoutAlign="left" mat-button routerLink=".">Details de l'offre</a>
                                </div>
                                <div>
                                    <a fxLayoutAlign="right" mat-button routerLink=".">repondre à l'offre</a>
                                </div>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Enchère en cours</h4>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card >
                        <mat-card-title>
                            <div fxLayout="row" fxFlex>
                                <div fxLayout="row" fxFlex="1 6 50%" class="">
                                    <div class="imgProdOrSer">
                                    </div>
                                    <div class="prodOrServ-content" fxLayout="column">
                                        <div fxLayout="column" fxLayoutGap="5px">
                                            <div>
                                                <span class="title-enchere">(Enchère n)</span>
                                                <mat-divider style="position: absolute; left: 146px; width: 25%;"></mat-divider>
                                                <h6>Nom Produit</h6>
                                                <span style="font-size:12px">Quantité</span>
                                            </div>
                                            <div fxLayout="row" fxLayoutGap="0px">
                                                <div>
                                                    <span style="font-size:12px">Description</span>
                                                    <p class="descriptif-prod">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quasi quaerat laboriosam.
                                                    </p>
                                                </div>
                                                <div>
                                                    <img src="../../../assets/images/Produit/FineTech_PS_Elmt_Produit_Seller_Bg.png" width="30px" class="img-seller">
                                                </div>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>         
                                <div fxLayout="column" fxLayoutGap="30px">
                                    <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="8px">
                                        <div fxLayout="column">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Enchère courante</div>
                                            <div style="color:red ; font-size:14px; font-weight:bold">1 800 000
                                                <span style="font-size:10px !important; height:2%; color:grey">XOF</span>
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Estimation valeur</div>
                                            <div style="font-size:14px; font-weight:bold">1 545 877
                                                <span style="font-size:10px !important; height:2%; color:grey">XOF</span>
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Rating_Gauge.png" width="34px" alt="">
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="13px">
                                        <div fxLayout="column">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Enchère</div>
                                            <div style="font-size:16px; font-weight:bold">
                                                98
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Vues</div>
                                            <div style="font-size:16px; font-weight:bold">
                                                127
                                            </div>
                                        </div>
                                        <div fxLayout="column" class="chrono-enchere" fxFlex fxLayoutAlign="space-between bottom">
                                            <div>&nbsp;</div>
                                            <div class="chrono-content">02:10:00.0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </mat-card-title>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutGap="2px" fxFlex>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Domaine 09</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_1.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Activité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_2.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Boutique 18</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_3.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Localité 85</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_4.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center"> Ref Produit 14</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_5.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Prix 12</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_6.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Disponibilité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_7.png" alt="" width="80px">
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <div fxLayout="row" fxLayoutGap="5px">
                                <div fxFlex>
                                    <button class="enchere-btn" fxLayoutAlign="left" mat-raised-button routerLink="."><span class="bottom-text-enchere">Details de l'offre</span></button>
                                </div>
                                <div fxFlex>
                                    <button class="enchere-btn-success" fxLayoutAlign="right" mat-raised-button routerLink="."><span class="bottom-text-enchere">repondre à l'offre </span><mat-icon style="color:white">done</mat-icon></button>
                                </div>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                    <br>
                    <mat-card>
                        <mat-card-title>
                            <div fxLayout="row" fxFlex>
                                <div fxLayout="row" fxFlex="1 6 50%" class="">
                                    <div class="imgProdOrSer">
                                    </div>
                                    <div class="prodOrServ-content" fxLayout="column">
                                        <div fxLayout="column" fxLayoutGap="5px">
                                            <div>
                                                <span class="title-enchere">(Enchère n)</span>
                                                <mat-divider style="position: absolute; left: 146px; width: 25%;"></mat-divider>
                                                <h6>Nom Produit</h6>
                                                <span style="font-size:12px">Quantité</span>
                                            </div>
                                            <div fxLayout="row" fxLayoutGap="0px">
                                                <div>
                                                    <span style="font-size:12px">Description</span>
                                                    <p class="descriptif-prod">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quasi quaerat laboriosam.
                                                    </p>
                                                </div>
                                                <div>
                                                    <img src="../../../assets/images/Produit/FineTech_PS_Elmt_Produit_Seller_Bg.png" width="30px" class="img-seller">
                                                </div>
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="30px">
                                    <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="8px">
                                        <div fxLayout="column">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Enchère courante</div>
                                            <div style="color:red ; font-size:14px; font-weight:bold">1 800 000
                                                <span style="font-size:10px !important; height:2%; color:grey">XOF</span>
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Estimation valeur</div>
                                            <div style="font-size:14px; font-weight:bold">1 545 877
                                                <span style="font-size:10px !important; height:2%; color:grey">XOF</span>
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Rating_Gauge.png" width="34px" alt="">
                                        </div>
                                    </div>
                    
                                    <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="13px">
                                        <div fxLayout="column">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Enchère</div>
                                            <div style="font-size:16px; font-weight:bold">
                                                98
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Vues</div>
                                            <div style="font-size:16px; font-weight:bold">
                                                127
                                            </div>
                                        </div>
                                        <div fxLayout="column" class="chrono-enchere" fxFlex fxLayoutAlign="space-between bottom">
                                            <div>&nbsp;</div>
                                            <div class="chrono-content">02:10:00.0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </mat-card-title>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutGap="2px" fxFlex>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Domaine 09</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_1.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Activité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_2.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Boutique 18</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_3.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Localité 85</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_4.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center"> Ref Produit 14</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_5.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Prix 12</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_6.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Disponibilité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_7.png" alt="" width="80px">
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <div fxLayout="row" fxLayoutGap="5px">
                                <div fxFlex>
                                    <button class="enchere-btn" fxLayoutAlign="left" mat-raised-button routerLink=".">
                                        <span class="bottom-text-enchere">Details de l'offre</span>
                                    </button>
                                </div>
                                <div fxFlex>
                                    <button class="enchere-btn-success" fxLayoutAlign="right" mat-raised-button routerLink=".">
                                        <span class="bottom-text-enchere">repondre à l'offre </span>
                                        <mat-icon style="color:white">done</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                    <br>
                    <mat-card>
                        <mat-card-title>
                            <div fxLayout="row" fxFlex>
                                <div fxLayout="row" fxFlex="1 6 50%" class="">
                                    <div class="imgProdOrSer">
                                    </div>
                                    <div class="prodOrServ-content" fxLayout="column">
                                        <div fxLayout="column" fxLayoutGap="5px">
                                            <div>
                                                <span class="title-enchere">(Enchère n)</span>
                                                <mat-divider style="position: absolute; left: 146px; width: 25%;"></mat-divider>
                                                <h6>Nom Produit</h6>
                                                <span style="font-size:12px">Quantité</span>
                                            </div>
                                            <div fxLayout="row" fxLayoutGap="0px">
                                                <div>
                                                    <span style="font-size:12px">Description</span>
                                                    <p class="descriptif-prod">
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quasi quaerat laboriosam.
                                                    </p>
                                                </div>
                                                <div>
                                                    <img src="../../../assets/images/Produit/FineTech_PS_Elmt_Produit_Seller_Bg.png" width="30px" class="img-seller">
                                                </div>
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="30px">
                                    <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="8px">
                                        <div fxLayout="column">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Enchère courante</div>
                                            <div style="color:red ; font-size:14px; font-weight:bold">1 800 000
                                                <span style="font-size:10px !important; height:2%; color:grey">XOF</span>
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Estimation valeur</div>
                                            <div style="font-size:14px; font-weight:bold">1 545 877
                                                <span style="font-size:10px !important; height:2%; color:grey">XOF</span>
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Rating_Gauge.png" width="34px" alt="">
                                        </div>
                                    </div>
                    
                                    <div fxLayout="row" fxLayoutAlign="space-between left" fxLayoutGap="13px">
                                        <div fxLayout="column">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Enchère</div>
                                            <div style="font-size:16px; font-weight:bold">
                                                98
                                            </div>
                                        </div>
                                        <div fxLayout="column">
                                            <div style="font-size:10px; font-weight:bold; color:rgb(182, 177, 177)">Vues</div>
                                            <div style="font-size:16px; font-weight:bold">
                                                127
                                            </div>
                                        </div>
                                        <div fxLayout="column" class="chrono-enchere" fxFlex fxLayoutAlign="space-between bottom">
                                            <div>&nbsp;</div>
                                            <div class="chrono-content">02:10:00.0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </mat-card-title>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutGap="2px" fxFlex>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Domaine 09</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_1.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Activité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_2.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Boutique 18</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_3.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Localité 85</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_4.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center"> Ref Produit 14</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_5.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Prix 12</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_6.png" alt="" width="80px">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="1px">
                                    <div>
                                        <span class="ap-articles" fxLayoutAlign="center center">Disponibilité 15</span>
                                    </div>
                                    <div>
                                        <img src="../../../assets/images/AppelOffre/FineTech_PS_Elmt_AppelOffre_Tag_Clr_7.png" alt="" width="80px">
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <div fxLayout="row" fxLayoutGap="5px">
                                <div fxFlex>
                                    <button class="enchere-btn" fxLayoutAlign="left" mat-raised-button routerLink=".">
                                        <span class="bottom-text-enchere">Details de l'offre</span>
                                    </button>
                                </div>
                                <div fxFlex>
                                    <button class="enchere-btn-success" fxLayoutAlign="right" mat-raised-button routerLink=".">
                                        <span class="bottom-text-enchere">repondre à l'offre </span>
                                        <mat-icon style="color:white">done</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </section>
</mat-sidenav-container>