<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button [routerLink]="['/admin', 'dashboard']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a mat-button [routerLink]="['/admin', 'alert']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Alerte</a>

    <a mat-button [matMenuTriggerFor]="follow">Suivi & Historique<mat-icon class="caret">arrow_drop_down</mat-icon></a>
    <mat-menu #follow="matMenu" [overlapTrigger]="false" class="app-dropdown"> 
     <a mat-menu-item [routerLink]="['/follow', 'option1']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Option1</a> 
		<a mat-menu-item [routerLink]="['/follow', 'option2']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Option2</a>
		<a mat-menu-item [routerLink]="['/follow', 'order']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Commande</a>
		<a mat-menu-item [routerLink]="['/follow', 'notations']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Notations</a>
		<a mat-menu-item [routerLink]="['/follow', 'demand-management']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Gestion Demande</a>
		<a mat-menu-item [routerLink]="['/follow', 'auction']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Encheres</a>
		<a mat-menu-item [routerLink]="['/follow', 'delivery']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Livraions</a>
		<a mat-menu-item [routerLink]="['/follow', 'quotation']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Devis</a>
		<a mat-menu-item [routerLink]="['/follow', 'credit']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Credit</a>
    </mat-menu>

    
    <a mat-button [routerLink]="['/admin', 'statistic']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Statistique</a>
    <a mat-button [routerLink]="['/follow', 'save']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Sauvegarde</a>

</mat-toolbar>