<footer class="bg-primary footer">
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px" class="py-3 theme-container">
    <div>
        <a href="#">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Instagram.png" alt="">
        </a>
    </div> 
    <div>
        <a href="#">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_GooglePlus.png" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Facebook.png" alt="">
        </a>
    </div>
    <div>
        <a href="#">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
            <img style="position:absolute" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Twitter.png" alt="">
        </a>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="py-2">
    <div fxFlexAlign="center">
        <img src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_GrdtLine.png" alt="">
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="py-3 pb-5 theme-container" style="padding-top:0px !important; padding-bottom: 0px !important;">
    <div class="menf">
        <a href="#" style="text-decoration: none;">
            <span class="menf-el">HOME</span>
        </a>
        <img style="padding-left: 1em; padding-right: 1em;" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_1.png" alt="">
        <a href="#" style="text-decoration: none;">
            <span class="menf-el">LOCALITE</span>
        </a>
        <img style="padding-left: 1em; padding-right: 1em;" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_1.png" alt="">
        <a href="#" style="text-decoration: none;">
            <span class="menf-el">PANIER</span>
        </a>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="py-3 pb-5 border-bottom-mute theme-container"
    style="padding-top:0px !important">
    <div class="menf">
        <a href="#" style="text-decoration: none;">
            <span class="menf-el2">Produits & Services</span>
        </a>
        <img style="padding-left: 1em; padding-right: 1em;" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_2.png"
            alt="">
        <a href="#" style="text-decoration: none;">
            <span class="menf-el2">Appels d'offres</span>
        </a>
        <img style="padding-left: 1em; padding-right: 1em;" src="../../../../assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_2.png"
            alt="">
        <a href="#" style="text-decoration: none;">
            <span class="menf-el2">Enchèere en cours</span>
        </a>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
        <p ngClass.xs="mt-1">Copyright © 2018 All Rights Reserved</p>
    </div>
</footer>